<div class="">
    <div class="flex flex-col h-screen p-4 rounded-lg bg-white shadow-lg border border-gray-100">
        <!-- Header invoice detail -->
        <div class=" flex justify-between items-center mb-6">
            <div>
                <h1 class="text-xl sm:text-2xl font-bold text-gray-800">
                    Chi tiết đơn hàng <span class="text-orange-500">{{ invoice.order_code }}</span>
                </h1>
                {% if invoice.staff %}
                <p class="text-lg text-gray-600 mt-1">Nhân Viên: {{ invoice.staff.name }}</p>
                {% elif invoice.customer %}
                <p class="text-lg text-gray-600 mt-1">Khách Hàng: {{ invoice.customer.name }}</p>
                {% endif %}

            </div>

            <div class="flex space-x-2 text-lg">
                <!-- In -->
                <button class="flex items-center gap-2 px-3 py-2 rounded-md font-medium
               border border-gray-300 text-gray-700 bg-white
               hover:bg-gray-100 transition">
                    <span>In</span>
                </button>

                <!-- Xác nhận -->
                <button class="flex items-center gap-2 px-3 py-2 rounded-md font-medium
               bg-amber-500 text-white
               hover:bg-amber-600 transition shadow"
               onclick="updateInvoiceStatus({{ invoice.id }}, 'IN_PROGRESS')">
                    <span>Xác nhận</span>
                </button>

                <!-- Thanh toán -->
                <button class="flex items-center gap-2 px-3 py-2 rounded-md font-medium
               bg-green-600 text-white
               hover:bg-green-700 transition shadow"
               onclick="updateInvoiceStatus({{ invoice.id }}, 'COMPLETED')">
                    <span>Thanh toán</span>
                </button>

                <button class="flex items-center gap-2 px-3 py-2 rounded-md font-medium
           bg-red-600 text-white
           hover:bg-red-700
           focus:ring-2 focus:ring-red-400 focus:ring-offset-1
           transition shadow"
           onclick="updateInvoiceStatus({{ invoice.id }}, 'CANCELLED')">

                    <span>Hủy</span>
                </button>
            </div>
        </div>

        <hr class="border-gray-500 mb-6 ">

        <!-- list product detail -->
        <div class="space-y-2 mb-6 flex-1 overflow-y-auto scrollbar-none">
            {% if invoice.invoice_details %}
            {% for detail in invoice.invoice_details %}
            <div class="flex items-center justify-between py-2 text-xl">
                <div class="flex items-center space-x-4">
                    <div class="w-10 h-10 bg-gray-100 rounded-lg opacity-80 flex items-center justify-center">
                        <!-- <div class="w-3 h-3 bg-gray-300 rounded-sm"></div> -->
                        <img src="{{ detail.product.image }}" class="w-full h-full object-cover" alt="">
                    </div>

                    <div>
                        <p class="text-gray-900 font-medium">{{ detail.product.name }}</p>
                        <p class="text-lg text-gray-500">Số lượng: {{ detail.quantity }}</p>
                    </div>
                </div>
                <div class="text-gray-900 font-medium">{{ detail.quantity*detail.price }}₫</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <hr class="border-t border-gray-200 mb-4">

        <!-- Bill invoice detail -->
        <div class="space-y-2 mt-auto">
            <div class="flex justify-between text-gray-700 text-base">
                <p>Tạm tính</p>
                <p class="font-medium">{{ invoice.subtotal }}₫</p>
            </div>

            {% for rule in rules %}
            <div class="flex justify-between text-gray-700 text-base">
                <p class="capitalize">{{ rule.name }}</p>
                <p class="font-medium text-gray-500">{{ rule.value }} {{ rule.unit }}</p>
            </div>
            {% endfor %}

            <hr class="border-t border-gray-100 pt-2">

            <div class="flex justify-between text-gray-900 text-lg">
                <p class="font-bold">Tổng cộng</p>
                <p class="font-bold">{{ invoice.final_total }}₫</p>
            </div>
        </div>

    </div>
</div>