<div class="bg-white rounded-2xl shadow-sm border overflow-hidden">

    <!-- TABLE HEADER -->
    <div class="grid grid-cols-10 px-6 py-4 text-xs font-semibold text-gray-400 uppercase bg-gray-50">
        <div class="col-span-4">Tên quy định</div>
        <div class="col-span-2">Loại</div>
        <div class="col-span-2">Giá trị / đơn vị</div>
        <div class="col-span-1">trạng thái</div>
        <div class="col-span-1 text-right">hành động</div>
    </div>

    <!-- ROW -->
    {% for rule in rules %}
    <div data-id="{{ rule.id }}"
        class="rule-row grid grid-cols-10 px-6 py-4 border-t items-center hover:bg-gray-50 transition">
        <div class="col-span-4 flex gap-4 items-start">

            <div>
                <p class="font-semibold text-gray-900 capitalize">{{ rule.name }}</p>
                <p class="text-sm text-gray-500">{{ rule.description }}</p>
            </div>
        </div>

        <div class="col-span-2">
            <span class="px-3 py-1 rounded-full bg-blue-100 text-blue-600 text-xs font-semibold">
                {{ rule.rule_type.value }}
            </span>
        </div>

        <div class="col-span-2 font-semibold text-gray-900">
            {{ rule.value }} <span class="text-gray-500 text-sm capitalize">{{ rule.unit }}</span>
        </div>

        {% if rule.active %}
        <div class="col-span-1 flex items-center gap-2 text-sm">
            <span class="w-2 h-2 bg-green-500 rounded-full"></span>
            Active
        </div>
        {% else %}
        <div class="col-span-1 flex items-center gap-2 text-sm">
            <span class="w-2 h-2 bg-red-500 rounded-full"></span>
            Inactive
        </div>
        {% endif %}

        <div class="col-span-1 flex gap-3 ml-auto pr-2">
            <button type="button" class="edit-btn text-gray-400 hover:text-blue-600 transition text-lg"
                data-id="{{ rule.id }}" data-name="{{ rule.name }}" data-value="{{ rule.value }}"
                data-unit="{{ rule.unit }}" data-type="{{ rule.rule_type.name }}" data-desc="{{ rule.description }}"
                data-active="{{ 1 if rule.active else 0 }}" data-modal-target="crud-modal"
                data-modal-toggle="crud-modal">
                <i class="fa-solid fa-pen"></i>
            </button>
            <button data-id="{{ rule.id }}" type="button" id=""
                class="delete-btn text-gray-400 hover:text-red-500 transition text-lg">
                <i class="fa-regular fa-trash-can"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>