{% extends 'layout/base.html' %}

{% block header %}
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

{% endblock %}

{% block content %}
<div class="bg-[#F9FAFB] p-4 flex flex-col">

    <div class="flex justify-between items-start mb-8">
        <div>
            <h1 class="text-3xl font-extrabold text-gray-900">Quản lý quy định</h1>
            <p class="text-gray-500 mt-1">Quản lý các quy định của cửa hàng</p>
        </div>
        <button type="button" class="bg-[#5D4037] hover:bg-[#4E342E] text-white font-bold py-2.5 px-6 rounded-lg shadow-md flex
            items-center gap-2 transition transform hover:-translate-y-1 cursor-pointer">
            <i class="fa-solid fa-plus"></i> Thêm quy định
        </button>
    </div>


    <div class="bg-white p-6 rounded-2xl shadow-sm mb-8 flex gap-6 items-center">

        <div class="w-full mx-auto">
            <label for="search" class="block mb-2.5 text-xl font-medium text-heading sr-only ">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" /></svg>
                </div>
                <input type="search" id="search"
                    class="block w-full p-4 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading  rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
                    placeholder="Tìm kiếm quy định" required />
            </div>
        </div>


        <div class="relative min-w-[250px]" id="filter-container">
            <div
                class="flex items-center justify-between bg-gray-50 rounded-xl p-4 cursor-pointer hover:bg-gray-100 transition">
                <input type="text" id="inpFilterName"
                    class="bg-transparent text-lg text-gray-700 font-medium cursor-pointer outline-none w-full"
                    value="Tất cả loại" readonly>
                <i class="fa-solid fa-chevron-down text-gray-500 ml-2"></i>
            </div>

            <div id="filter-dropdown"
                class="absolute top-full right-0 w-full bg-white border border-gray-100 rounded-xl shadow-xl mt-2 hidden max-h-60 overflow-y-auto z-40">
                <div class="p-4 hover:bg-yellow-50 cursor-pointer text-lg text-gray-700 border-b border-gray-50 transition"
                    onclick="selectFilter('all', 'Tất cả loại')">
                    Tất cả loại
                </div>

                {% for c in categories %}
                <div class="p-4 hover:bg-yellow-50 cursor-pointer text-lg text-gray-700 border-b border-gray-50 transition"
                    onclick="selectFilter('{{ c.id }}', '{{ c.name }}')">
                    {{ c.name }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'rule/rule_data.html' %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

{% endblock %}

{% block footer %}
{% endblock %}