<aside class="w-full bg-white shadow-md hidden md:flex flex-col h-screen sticky top-0 font-medium">

    <!-- User info -->
    <div class="p-10 mb-2">
        <div class="flex items-center gap-5">
            <img src="https://res.cloudinary.com/ds11ggie4/image/upload/v1764250180/user_liifdm.png"
                 class="w-16 h-16 rounded-full border border-gray-200">

            <div>
                <h4 class="font-bold text-gray-900 text-xl">
                    The Coffee House
                </h4>
                <p class="text-base text-gray-500">
                    Quản trị viên
                </p>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="flex-1 px-8 space-y-3">

        <!-- Tổng quan -->
        <a href="/dashboard/admin/overview"
           class="nav-item active flex items-center gap-3 px-6 py-4 rounded-2xl
                  text-lg text-gray-900 bg-gray-100 font-semibold
                  shadow-sm transition-all duration-200"
           data-url="/dashboard/admin/overview">
            <i class="fa-solid fa-table-cells-large text-2xl w-8"></i>
            <span>Tổng quan</span>
        </a>

        <!-- Sản phẩm -->
        <a href="/dashboard/admin/products"
           class="nav-item flex items-center gap-3 px-6 py-4 rounded-2xl
                  text-lg text-gray-500 hover:bg-gray-100 hover:text-gray-900
                  transition-all duration-200"
           data-url="/dashboard/admin/products">
            <i class="fa-solid fa-mug-hot text-2xl w-8"></i>
            <span>Sản phẩm</span>
        </a>

        <!-- Nhân viên -->
        <a href="/dashboard/admin/employees"
           class="nav-item flex items-center gap-3 px-6 py-4 rounded-2xl
                  text-lg text-gray-500 hover:bg-gray-100 hover:text-gray-900
                  transition-all duration-200"
           data-url="/dashboard/admin/employees"
       >
            <i class="fa-solid fa-users text-2xl w-8"></i>
            <span>Nhân viên</span>
        </a>

        <!-- Quy định -->
        <a href="/dashboard/admin/rule"
           class="nav-item flex items-center gap-3 px-6 py-4 rounded-2xl
                  text-lg text-gray-500 hover:bg-gray-100 hover:text-gray-900
                  transition-all duration-200"
           data-url="/dashboard/admin/rule">
            <i class="fa-solid fa-file-lines text-2xl w-8"></i>
            <span>Quy định</span>
        </a>

    </nav>

    <!-- Logout -->
    <div class="p-8 border-t border-gray-100 mt-auto">
        <a href="/logout"
           class="flex items-center gap-3 px-6 py-4 text-red-500
                  hover:bg-red-50 rounded-2xl transition text-lg font-semibold">
            <i class="fa-solid fa-arrow-right-from-bracket text-2xl w-8"></i>
            <span>Đăng xuất</span>
        </a>
    </div>

</aside>