<aside class="w-80 bg-white shadow-md hidden md:flex flex-col h-screen sticky top-0 font-medium">

    <div class="p-10 mb-2">
        <div class="flex items-center gap-5"> <img src="https://res.cloudinary.com/ds11ggie4/image/upload/v1764250180/user_liifdm.png" class="w-16 h-16 rounded-full border border-gray-200">
            <div>
                <h4 class="font-bold text-gray-900 text-xl">The Coffee House</h4>
                <p class="text-base text-gray-500">Quản trị viên</p>
            </div>
        </div>
    </div>

    <nav class="flex-1 px-8 space-y-4">
        <a href="/admin/dashboard" class="flex items-center px-6 py-4 text-gray-600 hover:bg-gray-100 rounded-2xl transition group text-lg">
            <i class="fa-solid fa-table-cells-large w-10 text-gray-400 group-hover:text-gray-600 text-2xl"></i>
            <span>Tổng quan</span>
        </a>


        <a href="/admin/products" class="flex items-center px-6 py-4 bg-gray-100 text-gray-900 rounded-2xl transition text-lg shadow-sm">
            <i class="fa-solid fa-mug-hot w-10 text-gray-800 text-2xl"></i>
            <span class="font-bold">Sản phẩm</span>
        </a>

        <a href="/admin/warehouse" class="flex items-center px-6 py-4 text-gray-600 hover:bg-gray-100 rounded-2xl transition group text-lg">
            <i class="fa-solid fa-warehouse w-10 text-gray-400 group-hover:text-gray-600 text-2xl"></i>
            <span>Kho hàng</span>
        </a>

        <a href="/admin/reports" class="flex items-center px-6 py-4 text-gray-600 hover:bg-gray-100 rounded-2xl transition group text-lg">
            <i class="fa-solid fa-chart-column w-10 text-gray-400 group-hover:text-gray-600 text-2xl"></i>
            <span>Quy định</span>
        </a>

        <a href="/admin/employees" class="flex items-center px-6 py-4 text-gray-600 hover:bg-gray-100 rounded-2xl transition group text-lg">
            <i class="fa-solid fa-chart-column w-10 text-gray-400 group-hover:text-gray-600 text-2xl"></i>
            <span>Nhân viên</span>
        </a>

    </nav>

    <div class="p-8 border-t border-gray-100 mt-auto">
        <a href="#" class="flex items-center px-6 py-4 text-gray-600 hover:bg-gray-100 rounded-2xl transition group text-lg">
            <i class="fa-regular fa-circle-question w-10 text-gray-400 group-hover:text-gray-600 text-2xl"></i>
            <span>Trợ giúp</span>
        </a>
        <a href="/logout" class="flex items-center px-6 py-4 text-red-500 hover:bg-red-50 rounded-2xl transition group text-lg">
            <i class="fa-solid fa-arrow-right-from-bracket w-10 text-2xl"></i>
            <span class="font-bold">Đăng xuất</span>
        </a>
    </div>
</aside>