{% extends 'admin/admin.html' %}
{% block admin_content %}
    <div class="flex-1 p-8 h-screen overflow-y-auto">
        <div class="flex justify-between items-start mb-8">
            <div>
                <h1 class="text-3xl font-extrabold text-gray-900">Quản lý Nguyên liệu</h1>
                <p class="text-gray-500 mt-2 text-xl">Quản lý, thống kê danh sách các nguyên liệu.</p>
            </div>
            <button type="button" onclick="openModal('ADD')" class="bg-[#5D4037] hover:bg-[#4E342E] text-white font-bold py-2.5 px-6 rounded-lg shadow-md flex items-center gap-2 transition transform hover:-translate-y-1 cursor-pointer">
                <i class="fa-solid fa-plus"></i> Thêm nguyên liệu
            </button>
        </div>

        <div class="bg-white p-6 rounded-2xl shadow-sm mb-8 flex gap-6 items-center">
            <div class="flex-1 relative">
                <i class="fa-solid fa-magnifying-glass absolute left-5 top-[75%] -translate-y-1/2 text-gray-400 text-2xl"></i>
                <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Tìm kiếm nguyên liệu..." class="w-full pl-14 p-4 !pl-16 text-2xl bg-gray-50 border-none rounded-xl outline-none focus:ring-2 focus:ring-gray-200 transition">
            </div>
        </div>

        <div class="bg-white rounded-xl shadow- overflow-hidden border border-gray-100">
  <table class="w-full text-left border-collapse">
            <!-- HEADER -->
            <thead class="text-white border-b p-8 border-gray-100 sticky top-0 bg-white z-10">
                <tr class="text-xl bg-blue-400 ">
                    <th class="py-8 pl-2">Tên nguyên liệu</th>
                    <th class="py-8 text-center">Tồn kho</th>
                    <th class="py-8 text-center">Giá tiền(trên 1 đơn vị)</th>
                    <th class="py-8 text-center">Đơn vị</th>
                    <th class="py-8 text-right pr-2">Trạng thái</th>
                </tr>
            </thead>

            <!-- BODY -->
            <tbody class="text-gray-700">
                {% if ingredient_stocks %}
                {% for stock in ingredient_stocks %}

                {% if stock.status.name == 'OUT_OF_STOCK' %}
                <!-- Hết hàng -->
                <tr class="border-b border-gray-50 bg-red-50 hover:bg-red-100">
                    <td class="py-4 pl-2 font-medium">
                        {{ stock.ingredient.name }}
                    </td>
                    <td class="py-4 text-center font-bold text-red-600">
                        {{ stock.quantity }}
                    </td>
                    <td class="py-4 text-center font-bold text-red-600">
                         {{ stock.price }}
                    </td>
                    <td class="py-4 text-center text-gray-500">
                        {{ stock.ingredient.unit }}
                    </td>
                    <td class="py-4 text-right pr-2">
                        <span class="bg-red-100 text-red-600 text-xs font-bold px-2 py-1 rounded">
                            Hết hàng
                        </span>
                    </td>

                </tr>

                {% elif stock.status.name == 'LOW_STOCK' %}
                <!-- Sắp hết -->
                  <tr class="border-b border-gray-50 bg-yellow-50 hover:bg-yellow-100">
                    <td class="py-4 pl-2 font-medium">
                        {{ stock.ingredient.name }}
                    </td>
                    <td class="py-4 text-center font-bold text-yellow-600">
                        {{ stock.quantity }}
                    </td>
                    <td class="py-4 text-center font-bold text-yellow-600">
                        Giá
                    </td>
                    <td class="py-4 text-center text-gray-500">
                        {{ stock.ingredient.unit }}
                    </td>
                    <td class="py-4 text-right pr-2">
                        <span class="bg-yellow-100 text-yellow-600 text-xs font-bold px-2 py-1 rounded">
                            Sắp hết
                        </span>
                    </td>
                </tr>

                {% else %}
                <!-- Còn hàng -->
              <tr class="border-b text-xl border-gray-50 bg-green-50 hover:bg-green-100">
                    <td class="py-4 pl-2 font-medium">
                        {{ stock.ingredient.name }}
                    </td>
                    <td class="py-4 text-center font-bold text-green-600">
                        {{ stock.quantity }}
                    </td>
                    <td class="py-4 text-center font-bold text-green-600">
                       {{ stock.ingredient.price }}
                    </td>
                    <td class="py-4 text-center text-gray-500">
                        {{ stock.ingredient.unit }}
                    </td>
                    <td class="py-4 text-right pr-2">
                        <span class="bg-green-100 text-center text-green-600 text-xl font-bold px-2 py-1 rounded">
                            còn hàng
                        </span>
                    </td>
                </tr>
                {% endif %}

                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" class="py-10 text-center text-gray-400">
                        Không có dữ liệu tồn kho
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        </div>
    </div>

<div id="productModal" class="hidden fixed inset-0 bg-black/50 z-50 flex items-center justify-center backdrop-blur-lg">
    <div class="bg-white rounded-xl p-0 shadow-2xl flex flex-col overflow-hidden">
        <div class="flex justify-between items-center p-6 border-b bg-gray-50">
            <h2 id="modalTitle" class="text-2xl font-bold text-gray-900">Thêm nguyên liệu mới</h2>
            <button onclick="closeModal()" class="text-gray-400 hover:text-red-500 text-3xl">&times;</button>
        </div>
         <div class="grid p-8">
            <div class="space-y-4">
                <div><label class="block text-gray-700 font-bold mb-2">Tên nguyên liệu</label><input type="text" id="inpName_ingre" class="w-full p-3 border rounded-lg outline-none focus:border-yellow-400"></div>
                <div class="grid grid-cols-2 gap-4">
                <div><label class="block text-gray-700 font-bold mb-2">Giá bán</label><input type="number" id="inpPrice_ingre" class="w-full p-3 border rounded-lg outline-none focus:border-yellow-400 font-bold text-green-600"></div>
                    <div>
                        <label class="block text-gray-700 font-bold mb-2">Đơn vị tính</label><input type="text" id="inpUnit_ingre" placeholder="Ly, Cái..." class="w-full p-3 border rounded-lg outline-none focus:border-yellow-400">
                    </div>
                </div>
                <div><label class="block text-gray-700 font-bold mb-2">Mô tả</label><textarea id="inpDesc_ingre" rows="3" class="w-full p-3 border rounded-lg outline-none focus:border-yellow-400"></textarea></div>
            </div>
         </div>
        <div class="p-6 border-t bg-gray-50 flex justify-end gap-3">
            <button onclick="closeModal()" class="px-6 py-2 rounded-lg border hover:bg-gray-50">Hủy</button>
            <button onclick="saveIngredient()" class="px-6 py-2 rounded-lg bg-[#FCD34D] font-bold hover:bg-[#fbbf24]">Lưu</button>
        </div>
    </div>
</div>



{% endblock %}
