    {%for prod in list_prod %}

    <div class="flex  items-center bg-gray-50 rounded-lg p-2 space-x-2 cart-component-item-popup"
         data-product-price="{{ prod.product.price }}"
         data-product-id="{{ prod.product.id }}">

    <div class="w-[60px] h-[60px] rounded-lg overflow-hidden flex-shrink-0">
        <img src="{{ prod.product.image }}" alt="{{ prod.product.name }}" class="w-full h-full object-cover">
    </div>
    <div class="flex-grow">
        <p class="text-xl font-semibold text-gray-900" >{{ prod.product.name }}</p>
        <p class="text-lg font-bold text-red-800 price" >{{ prod.product.price }}</p>
    </div>
    {% set quantity=prod.quantity %}
    {% include 'page/quantity_control.html' %}

    <input type="checkbox" class="ml-auto select-cart-component">
    
</div>


    {% endfor %}
