<div id="form_alert" class="w-[300px] fixed right-5 z-[1000] transition-all duration-300 transform top-[100px] hidden ">
    <div id="alert_box" class="flex items-start p-4 rounded-lg shadow-md ">
        <div class="flex-shrink-0 mr-3 mt-0.5" id="alert_icon"></div>

        <div class="flex-1 text-xl" id="alert_text">
            <p class="font-bold mb-1">Thông báo</p>
            <p>Nội dung thông báo.</p>
        </div>

        <button id="alert_close" type="button" class="ml-auto hover:text-orange-600 transition">
            <i class="fas fa-times text-xl"></i>
        </button>
    </div>
</div>
