<div id="form_submit_password"
     class="hidden fixed inset-0 z-[100] bg-[#4a4a4aad] flex items-center justify-center transition-all duration-300">

  <div class="w-[300px] p-8 rounded-xl shadow-2xl"
       style="background-color: #fffdf7; border: 1px solid #f9f0e1;">
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-3">Nhập mật khẩu</h2>
    <p class="text-xl text-gray-600 text-center mb-6">
        Vui lòng đặt mật khẩu
    </p>
    <form id="form_submit">
        <div class="mb-4">
            <label for="current-password-submit" class="block text-xl font-medium text-gray-700 mb-1">Mật khẩu hiện tại</label>
            <div class="relative">
                <input
                    type="password"
                    id="current-password-submit"
                    placeholder="Mật khẩu"
                    class="w-full text-xl p-3 pr-10 border border-gray-300 rounded-lg focus:ring-yellow-500 focus:border-yellow-500 placeholder-gray-400 text-sm"
                    style="background-color: #fff9f0;"
                >
                <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-[#7A7A7A] hover:text-[#C27C5A] transition duration-150">
                  <i class="fas fa-eye text-xl" id="password-form-toggle-icon-submit"></i>
                </button>
            </div>
        </div>
        <div class="flex justify-end space-x-3 mt-6">
            <button type="button" id="btn_cancel_submit" class="px-5 py-2 text-xl font-medium rounded-lg text-gray-700 bg-gray-100 border border-gray-300 hover:bg-gray-200 transition">
                Hủy
            </button>
            <button type="submit" class="px-5 py-2 text-xl font-medium rounded-lg text-white shadow-md transition" style="background-color: #8c6a4d;">
                Xác nhận
            </button>
        </div>
    </form>
  </div>
</div>

