{% extends 'layout/base.html' %}

{% block title %}Đằng ký sản phẩm{% endblock %}
{% block header %}

{%endblock%}

{% block content %}
  <div
    class="bg-[--primary-color] min-h-screen flex items-center justify-center p-4 font-sans"
  >
    <div
      class="max-w-sm text-[#EAEAEA] shadow-3xl transition-all duration-500 hover:shadow-neumorphic

      "
    >
      <div class="p-8 md:p-10 w-[450px] bg-[#2A2930] rounded-3xl">
        <div class="text-center mb-10">
          <i
            class="fas fa-coffee text-5xl text[#C27C5A] mb-4 transform hover:rotate-6 transition duration-300 cursor-pointer"
          ></i>
          <h1 class="text-4xl font-semibold tracking-wide text-[#EAEAEA] mb-1">
            Chào mừng bạn
          </h1>
          <p class="text-xl text-[#7A7A7A]">
            Tham gia hành trình hương vị của bạn.
          </p>
        </div>

        <form id="regis-form">
          <div
            id="error-box"
            class="hidden mb-5 p-5 rounded-lg bg-red-800/20 border border-red-500 text-red-400"
          >
            <div class="flex items-center">
              <i class="fas fa-exclamation-triangle mr-3 text-xl"></i>
              <span id="error-text" class="text-base font-medium"></span>
            </div>
          </div>
          <div class="mb-5">
            <label
              for="username"
              class="block text-lg uppercase font-medium text-[#7A7A7A] mb-2"
              >Tên đăng nhập</label
            >
            <div class="relative">
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                class="text-2xl w-full p-3 pl-10 bg-[#1F1E24] border-b-2 border-[#7A7A7A] text-[#EAEAEA] rounded-lg focus:outline-none focus:border[#C27C5A] transition duration-200"
              />
            </div>
          </div>

          <div class="mb-5">
            <label
              for="phone"
              class="block text-lg uppercase font-medium text-[#7A7A7A] mb-2"
              >Số điện thoại</label
            >
            <div class="relative">
              <input
                type="text"
                id="phone"
                name="phone"
                placeholder="Nhập số điện thoại"
                class="text-2xl w-full p-3 pl-10 bg-[#1F1E24] border-b-2 border-[#7A7A7A] text-[#EAEAEA] rounded-lg focus:outline-none focus:border-[#C27C5A] transition duration-200"
              />
            </div>
          </div>

          <div class="mb-5">
            <label
              for="name"
              class="block text-lg uppercase font-medium text-[#7A7A7A] mb-2"
              >Họ và tên</label
            >
            <div class="relative">
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Họ và tên"
                class="text-2xl w-full p-3 pl-10 bg-[#1F1E24] border-b-2 border-[#7A7A7A] text-[#EAEAEA] rounded-lg focus:outline-none focus:border-[#C27C5A] transition duration-200"
              />
            </div>
          </div>

          <div class="mb-5">
            <label
              for="password"
              class="block text-lg uppercase font-medium text-[#7A7A7A] mb-2"
              >Mật khẩu</label
            >
            <div class="relative">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Nhập mật khẩu"
                class="text-2xl w-full p-3 pl-10 bg-[#1F1E24] border-b-2 border-[#7A7A7A] text-[#EAEAEA] rounded-lg focus:outline-none focus:border-[#C27C5A] transition duration-200"
              />
              <button
                type="button"
                id="password-toggle"
                class="absolute inset-y-0 right-0 pr-3 flex items-center text-[#7A7A7A] hover:text-[#C27C5A] transition duration-150"
              >
                <i class="fas fa-eye text-xl" id="password-toggle-icon"></i>
              </button>
            </div>
          </div>

          <div class="mb-5">
            <label
              for="password"
              class="block text-lg uppercase font-medium text-[#7A7A7A] mb-2"
              >Nhập lại mật khẩu</label
            >
            <div class="relative">
              <input
                type="password"
                id="confirm"
                name="confirm"
                placeholder="Nhập lại mật khẩu"
                class="text-2xl w-full p-3 pl-10 bg-[#1F1E24] border-b-2 border-[#7A7A7A] text-[#EAEAEA] rounded-lg focus:outline-none focus:border-[#C27C5A] transition duration-200"
              />
              <button
                type="button"
                id="password-confirm-toggle"
                class="absolute inset-y-0 right-0 pr-3 flex items-center text-[#7A7A7A] hover:text-[#C27C5A] transition duration-150"
              >
                <i
                  class="fas fa-eye text-xl"
                  id="password-confirm-toggle-icon"
                ></i>
              </button>
            </div>
          </div>

          <button
            type="submit"
            class="w-full py-4 bg-[white] text-[#000] text-2xl font-bold rounded-xl shadow-lg hover:bg-[#C27C5A]/90 transition duration-300 transform hover:-translate-y-0.5 focus:outline-none focus:ring-4 focus:ring[#C27C5A]/50"
          >
            Đăng ký
          </button>
        </form>

        <p class="text-xl text-center text-[#7A7A7A] mt-10">
          Đã có tài khoản?
          <a
            href="{{url_for('login')}}"
            class="text-[#C27C5A] font-bold hover:text-[#C27C5A]/80 transition duration-150 underline-offset-4 hover:underline ml-1"
            >Đăng nhập ngay</a
          >
        </p>
      </div>
    </div>

  </div>
 <script src="{{ url_for('static', filename='javascript/regis.js') }}"></script>
{% endblock %}
{%block footer%}

{% endblock %}
{% block script %}

{% endblock %}