{% extends 'layout/base.html' %}

{% block header %}

{% endblock %}

{% block title %}Quản Lý Kho - The Coffee House{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

{% endblock %}

{% block content %}
<div class="flex min-h-screen bg-gray-100">

    {% include 'warehouse/navigation_bar.html' %}

    {% include 'warehouse/view_slip.html' %}
    

</div>

{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
{% endblock %}

{% block footer %}
{% endblock %}