{% extends 'layout/base.html' %}

{% block header %}

{% endblock %}

{% block title %}Quản Lý Kho - The Coffee House{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

{% endblock %}

{% block content %}
<div class="flex min-h-screen bg-gray-100">

    {% include 'warehouse/navigation_bar.html' %}

    <main class="flex-1 p-8 overflow-y-auto ">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-3xl font-bold text-gray-800">Quản lý Nguyên Liệu {{ warehouse.name }}</h1>



            <div class="flex items-center gap-3">
                <label for="warehouseSelect" class="text-lg font-medium text-gray-700">Kho hiện tại:</label>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="inline-flex items-center gap-2 bg-gray-100 text-yellow-700
           hover:bg-gray-200 focus:ring-2 focus:ring-yellow-300 
           shadow-sm font-medium rounded-lg text-sm px-4 py-2 transition">
                    {{ warehouse.name }}
                    <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 9-7 7-7-7" />
                    </svg>
                </button>


                <!-- Dropdown menu -->
                <div id="dropdown"
                    class="z-20 hidden bg-white border border-default-medium rounded-base shadow-lg w-48">

                    <ul class="p-2 text-sm text-body font-medium" aria-labelledby="dropdownDefaultButton">
                        {% for wh in warehouses %}
                        <li>
                            <a href="?warehouse_id={{ wh.id }}" class="
                                inline-flex items-center w-full p-2 rounded-lg transition
                                {% if wh.id == warehouse.id %}
                                    bg-blue-600 text-white font-semibold shadow-sm
                                {% else %}
                                    hover:bg-blue-50 hover:text-blue-700 text-gray-700
                                {% endif %}
                            ">
                                {{ wh.name }}
                            </a>
                        </li>

                        {% endfor %}
                    </ul>

                </div>

            </div>






            <button id="dropdownNotificationButton" data-dropdown-toggle="dropdownNotification"
                class="relative inline-flex items-center text-sm font-medium text-center text-body hover:text-heading focus:outline-none"
                type="button">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.292-.538 1.292H5.538C5 18 5 17.301 5 16.708c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365ZM8.733 18c.094.852.306 1.54.944 2.112a3.48 3.48 0 0 0 4.646 0c.638-.572 1.236-1.26 1.33-2.112h-6.92Z" />
                </svg>
                <div class="absolute block w-3 h-3 bg-danger border-2 border-buffer rounded-full top-0 start-3"></div>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownNotification"
                class="z-20 hidden w-full max-w-sm bg-white divide-y divide-default-medium rounded-base shadow"
                aria-labelledby="dropdownNotificationButton">
                <div
                    class="block px-4 py-2 font-medium text-center text-body rounded-t-base bg-neutral-secondary-medium">
                    Notifications
                </div>
                <div class="divide-y divide-default">
                    <a href="#" class="flex px-4 py-3 hover:bg-neutral-secondary-medium">
                        <div class="shrink-0">
                            <img class="rounded-full w-11 h-11" src="/docs/images/people/profile-picture-1.jpg"
                                alt="Jese image">
                            <div
                                class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-brand border border-buffer-medium rounded-full">
                                <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M5.024 3.783A1 1 0 0 1 6 3h12a1 1 0 0 1 .976.783L20.802 12h-4.244a1.99 1.99 0 0 0-1.824 1.205 2.978 2.978 0 0 1-5.468 0A1.991 1.991 0 0 0 7.442 12H3.198l1.826-8.217ZM3 14v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5h-4.43a4.978 4.978 0 0 1-9.14 0H3Zm5-7a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm0 2a1 1 0 0 0 0 2h8a1 1 0 1 0 0-2H8Z"
                                        clip-rule="evenodd" /></svg>
                            </div>
                        </div>
                        <div class="w-full ps-3">
                            <div class="text-body text-sm mb-1.5">New message from <span
                                    class="font-semibold text-heading">Jese Leos</span>: "Hey, what's up? All set for
                                the presentation?"</div>
                            <div class="text-xs text-fg-brand">a few moments ago</div>
                        </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-neutral-secondary-medium">
                        <div class="shrink-0">
                            <img class="rounded-full w-11 h-11" src="/docs/images/people/profile-picture-2.jpg"
                                alt="Joseph image">
                            <div
                                class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-dark border border-buffer-medium rounded-full">
                                <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
                                        clip-rule="evenodd" /></svg>
                            </div>
                        </div>
                        <div class="w-full ps-3">
                            <div class="text-body text-sm mb-1.5"><span class="font-semibold text-heading">Joseph
                                    Mcfall</span> and <span class="font-medium text-heading">5 others</span> started
                                following you.</div>
                            <div class="text-xs text-fg-brand">10 minutes ago</div>
                        </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-neutral-secondary-medium">
                        <div class="shrink-0">
                            <img class="rounded-full w-11 h-11" src="/docs/images/people/profile-picture-3.jpg"
                                alt="Bonnie image">
                            <div
                                class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-danger border border-buffer-medium rounded-full">
                                <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path
                                        d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full ps-3">
                            <div class="text-body text-sm mb-1.5"><span class="font-semibold text-heading">Bonnie
                                    Green</span> and <span class="font-medium text-heading">141 others</span> love your
                                story. See it and view more stories.</div>
                            <div class="text-xs text-fg-brand">44 minutes ago</div>
                        </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-neutral-secondary-medium">
                        <div class="shrink-0">
                            <img class="rounded-full w-11 h-11" src="/docs/images/people/profile-picture-4.jpg"
                                alt="Leslie image">
                            <div
                                class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-success border border-buffer-medium rounded-full">
                                <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M3 6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-6.616l-2.88 2.592C8.537 20.461 7 19.776 7 18.477V17H5a2 2 0 0 1-2-2V6Zm4 2a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2H7Zm8 0a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2h-2Zm-8 3a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7Zm5 0a1 1 0 1 0 0 2h5a1 1 0 1 0 0-2h-5Z"
                                        clip-rule="evenodd" /></svg>
                            </div>
                        </div>
                        <div class="w-full ps-3">
                            <div class="text-body text-sm mb-1.5"><span class="font-semibold text-heading">Leslie
                                    Livingston</span> mentioned you in a comment: <span
                                    class="font-medium text-fg-brand" href="#">@bonnie.green</span> what do you say?
                            </div>
                            <div class="text-xs text-fg-brand">1 hour ago</div>
                        </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-neutral-secondary-medium">
                        <div class="shrink-0">
                            <img class="rounded-full w-11 h-11" src="/docs/images/people/profile-picture-5.jpg"
                                alt="Robert image">
                            <div
                                class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-purple border border-buffer-medium rounded-full">
                                <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M14 7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7Zm2 9.387 4.684 1.562A1 1 0 0 0 22 17V7a1 1 0 0 0-1.316-.949L16 7.613v8.774Z"
                                        clip-rule="evenodd" /></svg>
                            </div>
                        </div>
                        <div class="w-full ps-3">
                            <div class="text-body text-sm mb-1.5"><span class="font-semibold text-heading">Robert
                                    Brown</span> posted a new video: Glassmorphism - learn how to implement the new
                                design trend.</div>
                            <div class="text-xs text-fg-brand">3 hours ago</div>
                        </div>
                    </a>
                </div>
                <a href="#"
                    class="block py-2 font-medium text-center text-body rounded-b-base bg-neutral-secondary-medium hover:bg-neutral-tertiary-medium">
                    <div class="inline-flex items-center ">
                        <svg class="w-5 h-5 me-1.5 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-width="2"
                                d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                            <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        View all
                    </div>
                </a>
            </div>


        </div>

        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 ">

            <div class="lg:col-span-4">
                {% include 'warehouse/warehouse_slip.html' %}
            </div>

            <div class="lg:col-span-8 space-y-8">

                <div class="space-y-4">
                    <div class="bg-red-50 border border-red-200 p-4 rounded-xl flex items-start gap-3">
                        <div class="text-red-500 mt-1"><i class="fa-solid fa-triangle-exclamation"></i></div>
                        <div>
                            <h4 class="font-bold text-red-700">Cảnh báo tồn kho thấp</h4>
                            <p class="text-sm text-red-600">Sắp hết hàng: <span class="font-semibold">Cafe hạt (4kg),
                                    Sữa tươi (2 lit)</span>.</p>
                        </div>
                    </div>



                    {% include 'warehouse/inventory_table.html' %}
                </div>
            </div>
    </main>

</div>


{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='javascript/warehouse.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
{% endblock %}