{% if dishes %}
{% for dish in dishes %}
<div class="data-item w-full bg-white rounded-xl shadow-md p-1
            hover:shadow-xl hover:scale-105 hover:cursor-pointer transition-transform duration-200"
     ondblclick="addToOrder({{ dish.id }}, '{{ dish.name }}', {{ dish.price }})">
    <div class="flex overflow-hidden rounded-lg">
        <img src="{{ dish.image }}" class="w-full h-48 object-cover">
    </div>

    <div class="mt-2 px-1">
        <p class="text-2xl  font-semibold text-gray-800">{{ dish.name }}</p>
        <p class="text-2xl text-gray-500">{{ dish.price }}</p>
    </div>
</div>
{% endfor %}
{% else %}
<div id="alert-small-1" class="col-span-3 text-xl w-auto inline-flex items-center p-2 pe-3 mb-4 mt-4 text-fg-brand-strong rounded-full bg-brand-softer border border-brand-subtle" role="alert">
    <span class="bg-brand-soft text-fg-brand-strong py-0.5 px-2 rounded-full">Thông Báo</span>
    <div class="ms-2">
        Không có món này 
    </div>
</div>
{% endif %}
