{% extends "layout/base.html" %}

{% block content %}
<div class="flex gap-3 mt-3 mx-3 bg-[#F4F0FF] ">
    <!--    section trái-->
    <div class="flex gap-3 flex-col w-1/3">

        <!--        menu-->
        {% include 'staff/menu_filter.html' %}

        <!--        list item-->
        <div class="grid grid-cols-3 gap-2 p-2 bg-white">
            {% include 'staff/dish_item.html' %}
        </div>
    </div>

    <!--    section phải-->
    <div class="w-2/3 bg-blue-200 ">
        {% include 'staff/create_order.html' %}
    </div>
</div>

{% endblock %}