<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tên Trang Mặc Định{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>

    {% block styles %} {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body class="bg-[var(--primary-color)]">
    {% include 'layout/header.html' %}
    <div class="content-body  w-full">
        {% block content %}

        {% endblock %}
    </div>

    {% include 'layout/footer.html' %}

    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script> -->

{% block scripts %}{% endblock %}
</body>
</html>