<nav class="w-full bg-[#F1ECE9] top-0 left-0 z-50 py-5 border-none" id="header">
  <div class="container mx-auto flex items-center justify-between w-[86%] ">

    <!-- Logo -->
    <div class="font-bold text-5xl tracking-wide">
      THE COFFEE
    </div>
    <!-- Menu + Icons -->
    <div class="flex items-center gap-36">
      <!-- Menu -->
      <ul class="flex items-center gap-16 !mb-0">
        <li><a href="#" class="text-black hover:!text-blue-600 transition text-3xl no-underline font-medium">Trang chủ</a></li>
        <li><a href="#" class="text-black hover:!text-blue-600 transition text-3xl no-underline font-medium">Sản phẩm</a></li>
        <li><a href="/about-us" class="text-black hover:!text-blue-600 transition text-3xl no-underline font-medium">Về chúng tôi</a></li>
      </ul>

      <!-- Icons -->
      <div class="flex items-end gap-16 text-4xl">

        <!-- Search icon -->
        <i class="fa-solid fa-magnifying-glass cursor-pointer transition-transform duration-200 hover:scale-[1.1] hover:text-blue-600"></i>

        <!-- User icon + username -->
        <div class="flex flex-col items-center leading-[1.2] relative">
          <a href={{url_for('login')}}>
            <i class="fa-regular fa-user cursor-pointer transition-transform duration-200 hover:scale-[1.1] hover:text-blue-600" ></i>
          </a>
            <p class="text-2xl absolute top-[100%] pt-[4px]">username</p>
        </div>

        <!-- Basket icon -->
        <i class="fa-solid fa-basket-shopping cursor-pointer transition-transform duration-200 hover:scale-[1.1] hover:text-red-600"></i>

      </div>
    </div>
  </div>
</nav>
